{% extends "_base.html" %}

{% block content %}
<table>
  {% for user in users %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ link_to(user=user) }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
