{% extends "_base.html" %}
{% import "form_macros.html" as form %}

{% block content %}
<p>Included form:</p>
{% include "user/_new_form.html" %}
<p>Separately rendered form:</p>
{{ form | safe }}
{% endblock %}
