<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ _base__title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
body { font-size: 18px; }
.menu { vertical-align: top; float: right; }
    </style>
  </head>
  <body>
    <header>
      <div class="menu">
        {% if _base__connected_user -%}
        Connected as {{ link_to(user=_base__connected_user) }}
        <button onclick="window.location.href='/submit'">Submit</button>
        <button onclick="window.location.href='/logout'">Logout</button>
        {%- else -%}
        <button onclick="window.location.href='/login'">Login</button>
        <button onclick="window.location.href='/signup'">Sign Up</button>
        {%- endif %}
      </div>
    </header>
    <hr>
{% block content %}
{% endblock %}
  </body>
</html>
