{% extends "_base.html" %}

{% block content %}
{% if posts_users -%}
<table>
  {% for post_user in posts_users -%}
  {%- set post = post_user[0] -%}
  {%- set author = post_user[1] -%}
  <tr>
    <td>{{ loop.index }}</td>
    {% if post.link -%}
    <td><a href={{ post.link }}>{{ post.title }}</a></td>
    {%- else -%}
    <td>{{ post.title }}</td>
    {%- endif %}
    <td>
      <small>
        submitted by {{ user.name }}
      </small>
    </td><td>
      <small>{{ post.created_at }}</small>
    </td>
  </tr>
  {%- endfor %}
</table>
{%- else -%}
<p>No posts yet.</p>
{%- endif %}

{% endblock %}
